@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Outfit", sans-serif;
    --font-optical-sizing: auto;
    --font-weight: 400;
    --font-style: normal;
    --font-variation-settings: "GRAD" 0;
    /* Animasi marquee untuk price ticker */
    --animate-marquee: marquee 40s linear infinite;
}

@layer components {
    .container {
        @apply mx-auto;
        @apply max-w-lg;
    }
}

/* Keyframe animasi marquee (ticker harga) */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}